.report {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  margin-bottom: 43px;
  color: rgba(82, 85, 95, 0.7);
}

.income {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}

.balans_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--medium-font-weight);
  margin-bottom: 6px;
  color: rgba(82, 85, 95, 0.7);
}

.enter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.input_balance {
  text-align: right;
  font-weight: var(--bold-font-weight);
  width: 125px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;
  background-color: inherit;
  padding: 12px 17px 12px 3px;
  outline: none;
  color: #000000;
  text-transform: uppercase;
}

.input_balance::placeholder {
  color: #000000;
}

.button {
  width: 125px;
  height: 44px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 0px 22px 22px 0px;
}

.button_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: -28px;
  margin-right: -19px;
}

.btn {
  height: 53px;
  border-radius: 0;
}

.expense_btn {
  width: 50vw;
  margin-right: 2px;
}

.income_btn {
  width: 50vw;
}
