.modal {
  width: 300px;
  position: absolute;
  top: 255px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;
  padding: 40px 18px 53px 29px;
  z-index: 100;
}

.title_text {
  margin-bottom: 24px;
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
}

.button {
  position: relative;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.2));
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 10px 20px 10px 47px;
  cursor: pointer;
  margin-bottom: 30px;
}

.button_google {
  position: absolute;
  left: 20px;
  display: flex;
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text_button {
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.label_block {
  margin-bottom: 12px;
}

.label {
  font-weight: var(--regular-font-weight);
  font-size: 10px;
  line-height: 1.2;
}

.input_mail,
.input_password {
  width: 253px;
  height: 52px;
  color: var(--placeholder-color);
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 17px 20px;
  background-color: var(--btn-background-color);
  margin-bottom: 30px;
}

.input_password {
  margin-bottom: 40px;
}

.button_block {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .button_block {
    margin-left: -17px;
  }
}

/* .button_enter,
.button_reg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 44px;
  color: var(--title-color);
  border-radius: 25px;
  border: none;
  padding: 12px 34px;
  background-color: var(--btn-background-color);
  margin-left: -12px;
  cursor: pointer;
}

.button_reg {
  padding: 12px 15px;
  margin-left: 15px;
}

.button:hover,
.button:focus,
.button_enter:hover,
.button_enter:focus,
.button_reg:hover,
.button_reg:focus {
  background-color: var(--main-color);
  color: var(--primary-write-color);
} */

@media screen and (max-width: 1279.98px) {
  .modal {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 436px;
    top: 297px;
    padding: 50px 85px 53px 86px;
  }

  .title_text {
    margin-bottom: 20px;
  }

  .label_block {
    margin-bottom: 10px;
  }

  .input_mail,
  .input_password {
    width: 265px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    top: 174px;
    right: 110px;
  }
}
